@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,300;0,400;0,500;1,500&family=Rock+Salt&display=swap');

.header {
  width: 100%;
}

#headerVideo {
  margin-left: 0px;
  margin-top: -125px;
}

.videoContainer {
  width: 100%;
  overflow: hidden;
  display: block;
  height: 950px;
}

.downArrow {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(107%) contrast(102%);
  position: absolute;
  top: 44vw;
  right: 50vw;
  width: 3vw;
}

.detectorNav {
  background-color: transparent;
  width: 100px;
  height: 1px;
  position: relative;
  top: 90%;
  left: 50%;
}

.body {
  height: 100%;
  background-color: #000000;

}

#aboutUs {
  position: relative;
  top: 1vw;
  right: 0vw;
  height: 1vw;

}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 36, 36);
  padding-top: 5vw;
}


.aboutUsTitleAndText h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 2vw;
  color: whitesmoke;

}

.aboutUsTitleAndText p {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 1.5vw;
  padding: 0 15%;
  transition-duration: 1s;
  color: whitesmoke;
}

.aboutUsTitleAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vw;
}

.traslatedPointer {
  top: 55vw;
  right: 96vw;
}


.partners {
display: flex;
flex-direction: column;
align-items: center;
}


.partners h3 {
  font-size: 2vw;
  color: white;
  position: relative;
  margin-bottom: 0;
  }


.partnersLogos img{
  max-width: 100px;
  transition-duration: 250ms;

}

.partnersLogos {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
  width: 80vw;
  height: 10vw;
}

.filteredLogo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(107%) contrast(102%);
}

#novaGamingLogo {
  height: 100px; 
  transition-duration: 250ms;
}


#darkQualityLogo {
  height: 100px;
  transition-duration: 450ms;
}

.projectsContainer {
  height: 1000px;
  background-color: #ff646e;
}


.footer {
  height: 300px;
  color: gray;
  background-color: gray;
}