@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,300;0,400;0,500;1,500&family=Rock+Salt&display=swap');

.header {
  width: 100vw;
  display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

#home {
  position: absolute;
  top: 1%;
}

.videoContainer {
  position: relative;
  top: -100px;
}

.downArrow {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(107%) contrast(102%); /*  #ffffff  */
  position: absolute;
  transition-duration: .5s;
  animation-name: bouncing-arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#downArrowAboutUs {
  top: 44vw;
  right: 48vw;
  width: 3vw;
}

#downArrowProjects {
  top: 95vw;
  right: 48vw;
  width: 3vw;
}

.downArrow:hover{
  filter: invert(48%) sepia(36%) saturate(2020%) hue-rotate(321deg) brightness(108%) contrast(101%); /*  #ff646e #ffffff  */
}

.AboutUsSection {
  margin: 0;
}

@keyframes bouncing-arrow {

  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0%);
  }

  }


.detectorNav {
  background-color: transparent;
  width: 100px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.body {
  height: 100%;
  background-color: rgb(33, 36, 36);
}

.footer {
  height: 300px;
  color: gray;
  background-color: gray;
}

.downArrow {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(107%) contrast(102%);
  /*  #ffffff  */
  position: absolute;
  transition-duration: .5s;
  animation-name: bouncing-arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#downArrowAboutUs {
  top: 48vw;
  right: 48vw;
  width: 3vw;
}


.downArrow:hover {
  filter: invert(48%) sepia(36%) saturate(2020%) hue-rotate(321deg) brightness(108%) contrast(101%);
  /*  #ff646e #ffffff  */
}

#AboutUs {
position: absolute;
width: 10px;
height: 10px;
top: 102%;
right: 50%;
}

@keyframes bouncing-arrow {

  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0%);
  }

}

#Home {
  position: absolute;
  top: 0;
}

.main-home-container {
  background-color: gold;
}

@media screen and (max-width: 960px) {
  #downArrowAboutUs {
      top: 90vh;
      right: 43vw;
      width: 12vw;
    }


  .main-home-container {
    width: 100%;
  }

    #AboutUs {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 112vh;
      right: 50%;
    }
}