@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,300;0,400;0,500;1,500&display=swap');


.test-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 1;
    background-color: transparent;
}

.backgroundOut {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 105px;
    top: 0;
    z-index: -1;
    animation-duration: .5s;
    animation-name: animate-navBar-out;
}

@keyframes animate-navBar-out {

    0% {
        background-color: rgb(20, 20, 20)
    }
    100% {
        transform: translateY(-100%)
    }
}

.sticky-main-div{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
    position: fixed;
    background-color: rgb(20, 20, 20);
    top: 0;
    width: 100vw;
    z-index: 1;
}

.navLogo {
margin-right: 15%;
}


.navContent {
    display: flex;
    flex-direction: row;

}

.navElement {
    display: flex;
    margin-left: 2vh;
    width: 200px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.navElement p {
    color: rgb(243, 243, 243);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vh;
}


#Logo {
    width: 20vh;
}

#sticky-Logo {
    height: 7vh;
}